@import './main.css';
@import './components/lb-buttons.css';
@import './components/lb-navbar.css';
@import './components/lb-form.css';
@import './components/bk-table.css';
@import './components/bk-info.css';
@import './components/bk-edit.css';
@import './components/bk-search.css';

.lb-container {
  height: 100vh;
  background: url('../assets/images/reading-room.jpg') no-repeat fixed center;
  background-size: cover;
}