.bk-edit__author {
  width: 35%;
  margin: auto;
}

.bk-edit__title {
  width: 65%;
  margin: auto;
}

.bk-edit__cover {
  max-width: 150px;
  padding: 1rem;
}

.bk-edit__pubDate {
  width: 100%;
}

.bk-edit__pages {
  width: 100%;
}

.bk-edit__synopsis {
  width: 100%;
  height: 120px;
  padding: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .bk-edit__author {
    width: 40%;
  }
  .bk-edit__title {
    width: 60%;
  }
}